<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"
    ></script>
    <!-- <link rel="stylesheet" href="styles/debug.css" /> -->

    <style>
      .center {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>

    <title>Car Monthly Total Cost of Ownership Estimation Calculator</title>
  </head>

  <body>
    <section class="hero is-fullheight has-background-info">
      <div class="hero-body">
        <div class="title container">
          <div class="container center has-text-white">
            Car Monthly Total Cost of Ownership Estimation Calculator
            <br />
            <br />
          </div>

          <figure form id="form" class="form has-text-white">
            <div class="field is-horizontal">
              <div class="field-label is-medium">
                <label for="maintenance" class="label has-text-white"
                  >Maintenance</label
                >
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium is-rounded"
                      type="number"
                      id="maintenance"
                      name="maintenance"
                      placeholder="Enter the annual cost for servicing and maintenance"
                      value=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-medium">
                <label for="tax" class="label has-text-white">Tax</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium is-rounded"
                      type="number"
                      id="tax"
                      name="tax"
                      placeholder="Enter your cars annual tax cost"
                      value=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-medium">
                <label for="insurance" class="label has-text-white"
                  >Insurance</label
                >
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium is-rounded"
                      type="number"
                      id="insurance"
                      name="insurance"
                      placeholder="Enter your cars annual insurance cost"
                      value=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-medium">
                <label for="todays-value" class="label has-text-white"
                  >Current value</label
                >
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium is-rounded"
                      type="number"
                      id="todays-value"
                      name="todays-value"
                      placeholder="Enter what your car is worth today"
                      value=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-medium">
                <label for="future-value" class="label has-text-white"
                  >Future value</label
                >
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium is-rounded"
                      type="number"
                      id="future-value"
                      name="future-value"
                      placeholder="Enter what your car will be worth in one years time"
                      value=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-medium">
                <label for="fuel" class="label has-text-white">Fuel</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input is-medium is-rounded"
                      type="number"
                      id="fuel"
                      name="fuel"
                      placeholder="Enter how much you will spend on fuel in the next year"
                      value=""
                    />
                  </div>
                </div>
              </div>
            </div>

            <button
              class="button is-info is-inverted is-medium is-rounded"
              value="Submit"
              onclick="runCalculator(event)"
            >
              Get monthly running cost
            </button>
          </figure>
          <br />
          <div class="container has-text-white">
            <p>Your monthly running cost is...£<is id="result"></is></p>
          </div>
      </div>
    </section>
    <script src="scripts/runCalculator.js"></script>
    <script src="scripts/calculator.js"></script>
  </body>
</html>
